body {
	background-color: #80d4ea;
}

.clock {
	width: 800px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}

#time {
	margin: 0 auto;
	color: white;
	text-align: center;
	font-family: courier, monospace;
	font-size: 100px;
}

footer {
	position: absolute;
	bottom: 0;
	right: 30px;
}